:root{
  --primary-rgb : rgba(28, 166, 226, 0.15);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: 100vh;
  background-color: #2b4162;
  background-image: linear-gradient(0deg, #1f2e45 0%, #12100e 74%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  position: relative;
  width: 20rem;
  aspect-ratio: 10/16;
}

.card{
  width: 100%;
  height: 100%;
  border: 3px solid rgb(84, 149, 171);
  border-radius: 1.5rem;
  background: repeating-linear-gradient(
    var(--primary-rgb) 0,
    var(--primary-rgb) 3px,
    transparent 3px,
    transparent 9px

  );
  animation: move-up 6s linear infinite;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

@keyframes move-up {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 calc(-32rem + 9px);
  }
}


.image{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(images/john-rodenn-castillo-eluzJSfkNCk-unsplash.jpg);
  background-size: 150%;
  filter: opacity(60%) sepia(100%) hue-rotate(160deg) brightness(110%);
  top:0;
  border-radius: 1.5rem;
  background-position: 0;
  background-repeat: repeat;
}

.textDiv{
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 4rem;
}

.textDiv i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 8rem;
  font-size: 4rem;
  color: white;
  background: none;
  border-bottom: 4px solid rgb(90, 127, 191);
}

.text{
  margin-top: 4rem;
  color: white;
}

.social{
  margin-top: 0.5rem;
}

.name{
  position: relative;
}

.name:hover{
  color: #2b4162;
}

.name::after{
  content: "";
  width: 4px;
  aspect-ratio: 1;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
}

.name::before{
  content: "";
  width: 4px;
  aspect-ratio: 1;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}